*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: #640fc5;
  width: 100%;
}

.btn-green, .btn-orange, .btn-blue {
  color: white;
  padding: 11px 30px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
}
.btn-green:hover, .btn-orange:hover, .btn-blue:hover {
  background-color: gray;
}

.btn-blue {
  background-color: #0e6cff;
}

.btn-orange {
  background-color: #ff8700;
}

.btn-green {
  background-color: #4caf50;
}

.padding-xs {
  padding: 10px;
}

.padding-sm {
  padding: 20px;
}

.padding-md {
  padding: 30px;
}

.padding-lg {
  padding: 50px;
}

.padding-xl {
  padding: 100px;
}

.padding-inline-xs {
  padding-inline: 10px;
}

.padding-block-xs {
  padding-block: 10px;
}

.padding-inline-sm {
  padding-inline: 20px;
}

.padding-block-sm {
  padding-block: 20px;
}

.padding-inline-md {
  padding-inline: 30px;
}

.padding-block-md {
  padding-block: 30px;
}

.padding-inline-lg {
  padding-inline: 50px;
}

.padding-block-lg {
  padding-block: 50px;
}

.padding-inline-xl {
  padding-inline: 100px;
}

.padding-block-xl {
  padding-block: 100px;
}

.margin-inline-xs {
  margin-inline: 10px;
}

.margin-block-xs {
  margin-block: 10px;
}

.margin-inline-sm {
  margin-inline: 20px;
}

.margin-block-sm {
  margin-block: 20px;
}

.margin-inline-md {
  margin-inline: 30px;
}

.margin-block-md {
  margin-block: 30px;
}

.margin-inline-lg {
  margin-inline: 50px;
}

.margin-block-lg {
  margin-block: 50px;
}

.margin-inline-xl {
  margin-inline: 100px;
}

.margin-block-xl {
  margin-block: 100px;
}

body {
  color: #f4f4f4;
}

nav {
  width: 100%;
  background-color: rgb(230, 228, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
nav .logo {
  width: 100px;
  height: 100px;
}
nav .logo img {
  max-width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
nav ul a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
nav ul a:hover {
  color: gray;
}

header .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero .title {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  align-items: start;
}
header .hero .title h3 {
  font-size: 20px;
  font-weight: 400;
}
header .hero .image {
  width: 50%;
  height: 100%;
}
header .hero .image img {
  max-width: 100%;
}

.fourCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.fourCards > * {
  max-width: calc(100% / 4);
}
.fourCards > * > * {
  max-width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.titleBig {
  font-size: 60px;
  font-weight: 900;
  margin-block: 0;
}

.floating-hero-img {
  border-radius: 10px;
  box-shadow: 19px 5px 11px 5px rgba(0, 0, 0, 0.69);
  border: 1px solid rgb(110, 109, 109);
}

.floating-container-img {
  border-radius: 10px;
  box-shadow: 19px 5px 11px 5px rgba(141, 140, 140, 0.69);
  border: 0;
}

.fadeIn-title {
  animation: fadeIn 1s backwards 0.5s;
}

.fadeIn-img {
  animation: fadeIn 1s backwards 1s;
}/*# sourceMappingURL=style.css.map */